<center>

    <h1>About us</h1><br>
    <h4>Since its fuse in 2005, Company Name has cut a specialty for itself in the youngsters’ books section of the distributing business. We have some expertise in books implied for offspring of various ages. <br><br>The wide scope of books offered by us
        incorporates fantasies, moral stories, showed storybooks, reference books, general learning books, sentence structure books, shading books, action books, sticker books, and more. Every one of these books is accessible in both English and Hindi.<br><br>        Our point is to give significant, charming, and animating substance to youngsters who go much past their normal course books. With this point of view, we treat each book as a work of adoration. Every one of our books is broadly examined, attentively
        composed, and delightfully planned.<br><br> Development and experimentation are indispensable to our methodology toward books. Our broad gathering of books– picture books, sticker books, story and sticker books, 3D Books, spring-up books, innovative
        idea books, curiosity books, topic-based books, movement books, and so on – are a declaration of this methodology. This encourages us to make energizing and testing items for youngsters.
    </h4>
</center>
<style>
    body {
        height: 100vh;
        background: linear-gradient( 45deg, #9a70ee, #8b67d1);
    }
    
    h1 {
        color: #ffffff;
    }
    
    h4 {
        color: rgb(0, 0, 0)
    }
</style>
</style>